<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Users</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:switch="${users}">
  <div>
    <div>
      <h2 th:case="null">No users yet!</h2>
      <div th:case="*">
        <h2>Users</h2>
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
<!--          <tr th:each="user : ${users}">-->
<!--            <td th:text="${user.name}"></td>-->
<!--            <td th:text="${user.email}"></td>-->
<!--            <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>-->
<!--            <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
<!--          </tr>-->
          </tbody>
        </table>
      </div>
      <p><a href="/signup" class="btn btn-primary">Add new user</a></p>
    </div>
  </div>
</div>
</body>
</html>